<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses the Mapbox and Weatherstack API</p>
        <img class="portrait" src="./img/parv.jpg">
    </div>
   
    {{>footer}}
</body>



</html>