<!DOCTYPE html>

<html>

<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>For any kind of help, contact at {{email}}</p>
    </div>
    
    {{>footer}}
</body>


</html>